# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# SQLite
*.sqlite3
*.db

# Node
node_modules/
dist/
build/
.npm/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Logs
logs/
*.log
